<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{{- if eq .URL "/" }}
	<meta name="description" content="{{ .Site.Params.Description }}">
	{{- else if .Description }}
	<meta name="description" content="{{ .Description }}">
	{{- end }}

	<!-- Social metadata -->
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@mdlayher" />
	<meta name="twitter:title" content="{{ .Title }} &middot; {{ .Site.Title }}" />
	<meta name="twitter:description" content="{{ .Site.Params.Description }}" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="{{ .Title }} &middot; {{ .Site.Title }}" />
	<meta property="og:site_name" content="{{ .Site.Params.Description }}" />

	<title>{{ .Title }} &middot; {{ .Site.Title }}</title>

	<!-- CSS -->
	{{- $inServerMode := .Site.IsServer }}
	{{- $cssTarget := "css/style.css" }}
	{{- $cssOptions := cond ($inServerMode) (dict "targetPath" $cssTarget "enableSourceMap" true) (dict "targetPath"
	$cssTarget "outputStyle" "compressed") }}
	{{- $style := resources.Get "scss/tale.scss" | toCSS $cssOptions }}
	<link rel="stylesheet" href="{{ $style.RelPermalink }}">
	{{ range .Site.Params.css -}}
	<link rel="stylesheet" href="{{ . | relURL }}">
	{{ end -}}

	<!-- RSS -->
	{{ range .AlternativeOutputFormats -}}
	{{ printf `
	<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{ end -}}
</head>
